@use "index";

.App {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 4rem;

  @extend %flex;
  justify-content: start;
  flex-direction: column;

  .app-title {
    font-size: 3rem;
    margin: 2rem;
  }

  .app-container {
    @extend %flex;
    width: 70%;
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
