@use "index";

.App {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 4rem;

  @extend %flex;
  justify-content: start;
  flex-direction: column;

  .app-title {
    font-size: 3rem;
    margin: 2rem;
  }

  .app-container {
    @extend %flex;
    width: 70%;
    flex-direction: column;
  }
}

@media (max-width: 1440px) {
  .App {
    .app-container {
      width: 85%;
    }
  }
}

@media (max-width: 768px) {
  .App {
    .app-container {
      width: 95%;
    }
  }
}

@media (max-width: 550px) {
  .App {
    .app-title {
      font-size: 2.5rem;
    }

    .app-container {
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
  .App {
    .app-title {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .App {
    .app-title {
      font-size: 1.9rem;
    }
  }
}
