@use "index";

.input-form {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
  margin: 1rem;

  .input-field {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px index.$black-color;

    &:focus {
      box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }

  .input-submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: index.$third-color;

    color: index.$white-color;
    box-shadow: 0 0 10px index.$black-color;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: index.$secondary-color;
    }

    &:active {
      transform: scale(0.8);
      box-shadow: 0 0 5px index.$black-color;
    }
  }
}

@media screen and (max-width: 550px) {
  .input-form {
    .input-field {
      padding: 15px 20px;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .input-form {
    .input-field {
      padding: 15px;
      font-size: 1rem;
    }

    .input-submit {
      height: 40px;
      width: 40px;
    }
  }
}
