@use "index";

.todo {
  width: 95%;
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 1rem;
  background-color: index.$fifth-color;
  transition: all 0.5s ease-in-out;

  // border: 1px solid red;

  .todo-form-input {
    flex: 8;
    // border: 1px solid red;
    padding: 0rem 1rem;
  }

  .todo-title {
    flex: 8;
    padding: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    // border: 1px solid purple;

    &:focus {
      outline: none;
    }
  }

  .todo-panel {
    // border: 1px solid yellow;
    @extend %flex;
    justify-content: space-evenly;
    flex: 1;

    .todo-panel-icon {
      margin-left: 10px;
      font-size: 25px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(0.9);
      }
    }

    .edit:hover {
      color: index.$third-color;
    }

    .delete:hover {
      color: orangered;
    }

    .done:hover {
      color: index.$secondary-color;
    }
  }

  &:hover {
    box-shadow: 0 0 5px index.$black-color;
  }
}
