@use "index";

.todos {
  width: 90% !important;
  min-height: 25vh;
  border-radius: 1.5rem;
  margin-top: 2rem;
  @extend %flex;
  background-color: transparent;
  overflow: hidden;

  .todos-container {
    width: 100%;
    height: 100%;
    padding: 2rem 0rem;
    border-radius: 1.5rem;

    background-color: index.$fourth-color;
    @extend %flex;
    flex-direction: column;

    .todos-title {
      font-size: 30px;
      color: index.$white-color;
    }

    .btn-show-done {
      width: 10%;
      height: 2rem;
      cursor: pointer;
      border: none;
      border-radius: 1rem;
      margin: 1rem 0rem;
      font-size: 1.1rem;
      background-color: index.$third-color;

      color: index.$white-color;
      box-shadow: 0 0 3px index.$black-color;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: index.$secondary-color;
      }

      &:active {
        transform: scale(0.8);
        box-shadow: 0 0 5px index.$black-color;
      }
    }

    .title-empty {
      margin-top: 4rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .todos {
    .todos-container {
      .btn-show-done {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .todos {
    .todos-container {
      .todo-done-empty-title {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .todos {
    .todos-container {
      .todo-done-empty-title {
        font-size: 1.1rem;
      }
    }
  }
}
